<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>iamcore_v2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.linli.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>exitServlet</servlet-name>
    <servlet-class>com.linli.servlet.exitServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>createIdentityServlet</servlet-name>
    <servlet-class>com.linli.servlet.createIdentityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>queryAllIdentityServlet</servlet-name>
    <servlet-class>com.linli.servlet.queryAllIdentityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modifyOneIdentityServlet</servlet-name>
    <servlet-class>com.linli.servlet.modifyOneIdentityServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>modifyOneIdentityInfoServlet</servlet-name>
    <servlet-class>com.linli.servlet.modifyOneIdentityInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteIdentityServlet</servlet-name>
    <servlet-class>com.linli.servlet.deleteIdentityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/user/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>exitServlet</servlet-name>
    <url-pattern>/user/exitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>createIdentityServlet</servlet-name>
    <url-pattern>/identity/createIdentityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>queryAllIdentityServlet</servlet-name>
    <url-pattern>/identity/queryAllIdentityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modifyOneIdentityServlet</servlet-name>
    <url-pattern>/identity/modifyOneIdentityServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>modifyOneIdentityInfoServlet</servlet-name>
    <url-pattern>/identity/modifyOneIdentityInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteIdentityServlet</servlet-name>
    <url-pattern>/identity/deleteIdentityServlet</url-pattern>
  </servlet-mapping>
 </web-app>
